name: Pull Request Checks

on:
  pull_request: {}

jobs:
  pr_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Tooling installs
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup go-task/task
        uses: arduino/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # Dependency installs
      - name: Install Python dependencies
        run: |
          pip install poetry
          poetry install --no-interaction --with=dev

      - name: PR Checks
        run: |
          task --output group \
               --output-group-begin "::group::{{.TASK}}{{if .NAME}}:{{.NAME}}{{end}}" \
               --output-group-end "::endgroup::" \
               ci
